header{
    height: 80px;
    width: 100vw;
    background-color: rgb(16,23,30);
    color: #f4f4f4;
    padding: 3vh 0;
    font-size: 18px;
    font-weight: 600;
    position: fixed;
    top: 0;
    left: 0;
}
a{
    margin: 0 20px;
    color: #f4f4f4;
    text-decoration: none;
}
a:first-of-type{
    margin-left: 0;
}
a:hover{
    color: rgb(212,1,0);
}
.is-active{
    color: rgb(212,1,0);
}
